<div class="container" [class.hidden]="hidden">

  <div class="game-card">

    <img class="game-card__background" [src]="game.image" (error)="imageLoadErrorHandler()">

    <div class="game-card__play-btn"></div>

    <div class="game-card__jackpot" *ngIf="game.jackpot">
      {{game.jackpot | currency: 'GBP'}}
    </div>

    <div class="game-card__name">
      {{game.name}}
    </div>

  </div>

  <div *ngIf="ribbonConfig" [class]="['ribbon', ribbonConfig.className]">
    <img class="ribbon__image" [src]="ribbonConfig.image">
    <div class="ribbon__label">{{ribbonConfig.label}}</div>
  </div>

</div>

